{% extends "blog/base.html" %}
{% block content %}
<h4 class="text-sm mb-0">About Page</h4>
<p class=" text-muted mb-4 font-italic">Learn About ACCESSER</p>

<div style="font-size: 15px; line-height: 2">
    <p> <span class="font-weight-bold" style="color: #ee6e73">ACCESSER</span> is been geared by an intellectual board
        with astute oversight and an unparalleled dedication to virtual campus initiatives focus solely on global youth
        empowerment and to foster a better tomorrow.</p>
    <h6>MISSION</h6>
    <ol>
        <li>To Provide a knowledgeable platform for undergraduates, graduates, unskilled and skilled workers. </li>
        <li>To give Nigerians access to job opportunities. </li>
        <li>To economically and financially empower Nigerians by providing them jobs. </li>
        <li>To teach and make skilled individual.</li>
    </ol>

    <h6>VISION</h6>
    <ol>
        <li>To make financial access to undergraduates, graduates, unskilled workers, skilled workers all over the
            country.</li>
        <li>To connect companies all over the country/world to find employees that suites their needs.</li>
    </ol>

    <h6>CORE VALUES</h6>
    <ol>
        <li>Excellence</li>
        <li>Innovation</li>
        <li>Integrity</li>
        <li>Assistance</li>
        <li>Simplicity</li>
        <li>Building</li>
    </ol>

    <h6>AIMS AND OBJECTIVES</h6>
    <ol>
        <li>We are aim in building companies, which will result to job opportunities </li>
        <li>To have a platform that is aimed at encouraging Nigerians </li>
        <li>We are aim to providing job opportunities for Nigerians </li>
        <li>This is a community aim to give graduates opportunities to get jobs faster and easier.</li>
        <li>ACCESSER is not just another setup, it is designed to help both students and workers to transform their
            life.</li>
    </ol>

    <h6>BENEFITS</h6>
    <ol>
        <li>Fast access to jobs. </li>
        <li>Easy access to job opportunities. </li>
        <li>Best community to learn and be skillful.</li>
        <li>Easy access to your favorite companies around the country/world</li>
    </ol>
</div>

{% endblock content %}