{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div>
    <h4>{{profession}}s</h4>
    {% for profile in profession.profiles.all %}
    <div class="card text-center mb-5" style="width: 550px">
        <img src="{{ profile.image.url }}" class="rounded-circle mt-2" style="width: 150px; height: 150px; margin: auto; padding: 0 0 0 0; border: 3px #ee6e73 solid">
        <div class="card-body" style="padding: 0 0 10px 0">
            <h5 class="card-title mb-0  mt-2" style="font-weight: 500">{{profile.user.username}}</h5>
            <p class="card-text" style="font-weight: 400">{{ profile.user.email }}</p>
        </div>
        <div class="row">

            <div class="col-md-4 mb-2">
            <button type="button" class="btn btn-success">Verified</button>
            </div>

            <div class="col-md-4 mb-2">
            <button type="button" style="background-color: #ee6e73" class="btn text-white">Employed</button>
            </div>

            <div class="col-md-4 mb-2">
            <button type="button" class="btn btn-info">
                <a href="{% url 'user-details' profile.user.id %}">View</a>
                </button>
            </div>

        </div>
    </div>
        
    {% endfor %}
</div>
{% endblock content %}